body, html{
    margin:0;
    padding:0;
    text-align:center;
    height:100%;
    width: 100%;
    overflow:hidden;
}
#control{
    position: absolute;
        top: 20px;
        right: 20px;
    z-index:10;
    background-color: rgba(17, 130, 44, 0.57);;
    border-radius: 15px;
    padding: 20px;
    /*border: 1px solid black;*/
    box-shadow: 10px 10px 10px #888888;
    font-weight:bold;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 60%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    vertical-align: middle;
}

.modal-header{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.search .modal-header{
    background-color: rgba(0, 173, 255, 0.64);
}

.moto-found .modal-footer, .moto-not-found .modal-footer{
    text-align: center;
}

.moto-found .modal-header{
    background-color: rgba(32, 222, 32, 0.72);
}

.moto-not-found .modal-header{
    background-color: rgba(255, 0, 0, 0.64);
}

.modal-body img{
    width:100%;
    margin-bottom:10px;
}


#calculate-distance-submit-btn{
    padding-top: 2px;
    padding-bottom : 2px;
    vertical-align: inherit;
}

#distance-control{
    margin-bottom:25px;
}

input[type="text"]{
    width: 80px;
    text-align:center;
}

.unslider{
    height: 100%;
}

.emus-header{
    height:15%;
    display: inline-block;
    overflow:hidden;
    white-space: nowrap;
}

.emus-header img{
    display: inline-block;
    height:100%;
    margin:0;
    padding:0;
}

#control .title{
    text-align:center;
    font-size:20px;
    font-weight: bold;
    /*color: #ba6008;*/
    color:white;
    margin-bottom:10px;
}

#map-container{
    width: 100%;
    position:relative;
}

#map{
    width:100%;
    height:100%;
    z-index: 2;
    margin-top:-5px;
}

.overlay{
    display:block;
    text-align:center;
    white-space: nowrap;
    color:#fff;
    font-size:40px;
    line-height:60px;
    opacity:0.8;
    background:#4477aa;
    border:solid 3px #336699;
    border-radius:4px;
    box-shadow:2px 2px 10px #333;
    text-shadow:1px 1px 1px #666;
    padding:0 4px;
    position:relative;
    bottom: 20px;
}

.overlay_arrow{
    left:50%;
    margin-left:-16px;
    width:0;
    height:0;
    position:absolute;
}
.overlay_arrow.above{
    bottom:-15px;
    border-left:16px solid transparent;
    border-right:16px solid transparent;
    border-top:16px solid #336699;
}
.overlay_arrow.below{
    top:-15px;
    border-left:16px solid transparent;
    border-right:16px solid transparent;
    border-bottom:16px solid #336699;
}